* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    height: inherit;
    position: relative;
    background-image: url("../img/images.png");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, #contact  {
  margin-bottom: 0;
  font-size: 20px;
  color: #f7f6f4;
  font-family: 'Times New Roman', serif;
}

h1, h3, h4 {
  color: #a7acb2;
}

a:hover {
  color: #3d3d3d;
  text-shadow: 1px 1px 1px #000000; 
  text-transform: uppercase;
}

.container-fluid a:link {
  color: #afafaf;
}

.img {
  border-radius: 2px;
}

#web{
  font-weight: bold;
  color: #3d3d3d;
  text-shadow: 1px 1px 2px #000000;
}

.navbar {
   opacity: 0.9;
}


.info {
  text-align: center;
  margin-top: 250px;
  text-transform: uppercase;
  display: none;
}

.info span{
  text-shadow: 2px 2px #2d2d2d;
  font-size: 3rem;
  color: #ed9a36;
}
 
#home .btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  transition: all 1s;
}

#home .btn:hover{
transform: translate3d(4px, 4px, 0);
}

.check-source-btn:hover {
  text-transform: none;
}

.check-source-btn{
  text-shadow: 1px 1px 1px #000000; 
}


#overlay-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#background-header {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg") ;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}


.skills img {
  display: block;
  margin: auto;
  width: 40%;
}

.project-parent{
  position: relative;
  padding: 7px;

}

.project-parent .overlay-projects {
  position: absolute;
  border-radius: 3px;
  top: 37px;
  left: 0;
  display: none;
  width: 100%;
  height: 86%;
  color: #FFF;
}

.project-parent:hover .overlay-projects{
  display: block;
  background: rgba(56, 54, 54, 0.8);
  cursor: pointer;
}

.overlay-projects p {
  margin: 100px 100px;
  text-transform: uppercase;
}

.container  h3, h4 {
  text-transform: uppercase;
}


.container-fluid h1 , h3, h4 {
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  margin-bottom: 30px;
}

.row {
  padding: 50px 3px 0 3px ;
}


#contact img {
  display: inline-block;
  width: 30px;
  margin: 30px 5px;
}


footer {
  margin-top: 170px;
  background: #2f2f30;
  opacity: .8;
}


  /*For mobile screen*/
  @media (max-width: 767px) { 
      
    .info {
      margin-top: 130px;
    }

    .info span {
      font-size: 2rem;
    }

    .my-img {
      padding: 10%;
    }
}



