/* Load Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400");
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%; }

.span-4-of-5 {
  width: 79.68%; }

.span-3-of-5 {
  width: 59.36%; }

.span-2-of-5 {
  width: 39.04%; }

.span-1-of-5 {
  width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%; }
  .span-4-of-5 {
    width: 100%; }
  .span-3-of-5 {
    width: 100%; }
  .span-2-of-5 {
    width: 100%; }
  .span-1-of-5 {
    width: 100%; } }

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%; }

.span-5-of-6 {
  width: 83.06%; }

.span-4-of-6 {
  width: 66.13%; }

.span-3-of-6 {
  width: 49.2%; }

.span-2-of-6 {
  width: 32.26%; }

.span-1-of-6 {
  width: 15.33%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%; }
  .span-5-of-6 {
    width: 100%; }
  .span-4-of-6 {
    width: 100%; }
  .span-3-of-6 {
    width: 100%; }
  .span-2-of-6 {
    width: 100%; }
  .span-1-of-6 {
    width: 100%; } }

/*  GRID OF SEVEN   ============================================================================= */
.span-7-of-7 {
  width: 100%; }

.span-6-of-7 {
  width: 85.48%; }

.span-5-of-7 {
  width: 70.97%; }

.span-4-of-7 {
  width: 56.45%; }

.span-3-of-7 {
  width: 41.94%; }

.span-2-of-7 {
  width: 27.42%; }

.span-1-of-7 {
  width: 12.91%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%; }
  .span-6-of-7 {
    width: 100%; }
  .span-5-of-7 {
    width: 100%; }
  .span-4-of-7 {
    width: 100%; }
  .span-3-of-7 {
    width: 100%; }
  .span-2-of-7 {
    width: 100%; }
  .span-1-of-7 {
    width: 100%; } }

/*  GRID OF EIGHT   ============================================================================= */
.span-8-of-8 {
  width: 100%; }

.span-7-of-8 {
  width: 87.3%; }

.span-6-of-8 {
  width: 74.6%; }

.span-5-of-8 {
  width: 61.9%; }

.span-4-of-8 {
  width: 49.2%; }

.span-3-of-8 {
  width: 36.5%; }

.span-2-of-8 {
  width: 23.8%; }

.span-1-of-8 {
  width: 11.1%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%; }
  .span-7-of-8 {
    width: 100%; }
  .span-6-of-8 {
    width: 100%; }
  .span-5-of-8 {
    width: 100%; }
  .span-4-of-8 {
    width: 100%; }
  .span-3-of-8 {
    width: 100%; }
  .span-2-of-8 {
    width: 100%; }
  .span-1-of-8 {
    width: 100%; } }

/*  GRID OF NINE   ============================================================================= */
.span-9-of-9 {
  width: 100%; }

.span-8-of-9 {
  width: 88.71%; }

.span-7-of-9 {
  width: 77.42%; }

.span-6-of-9 {
  width: 66.13%; }

.span-5-of-9 {
  width: 54.84%; }

.span-4-of-9 {
  width: 43.55%; }

.span-3-of-9 {
  width: 32.26%; }

.span-2-of-9 {
  width: 20.97%; }

.span-1-of-9 {
  width: 9.68%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%; }
  .span-8-of-9 {
    width: 100%; }
  .span-7-of-9 {
    width: 100%; }
  .span-6-of-9 {
    width: 100%; }
  .span-5-of-9 {
    width: 100%; }
  .span-4-of-9 {
    width: 100%; }
  .span-3-of-9 {
    width: 100%; }
  .span-2-of-9 {
    width: 100%; }
  .span-1-of-9 {
    width: 100%; } }

/*  GRID OF TEN   ============================================================================= */
.span-10-of-10 {
  width: 100%; }

.span-9-of-10 {
  width: 89.84%; }

.span-8-of-10 {
  width: 79.68%; }

.span-7-of-10 {
  width: 69.52%; }

.span-6-of-10 {
  width: 59.36%; }

.span-5-of-10 {
  width: 49.2%; }

.span-4-of-10 {
  width: 39.04%; }

.span-3-of-10 {
  width: 28.88%; }

.span-2-of-10 {
  width: 18.72%; }

.span-1-of-10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%; }
  .span-9-of-10 {
    width: 100%; }
  .span-8-of-10 {
    width: 100%; }
  .span-7-of-10 {
    width: 100%; }
  .span-6-of-10 {
    width: 100%; }
  .span-5-of-10 {
    width: 100%; }
  .span-4-of-10 {
    width: 100%; }
  .span-3-of-10 {
    width: 100%; }
  .span-2-of-10 {
    width: 100%; }
  .span-1-of-10 {
    width: 100%; } }

/*  GRID OF ELEVEN   ============================================================================= */
.span-11-of-11 {
  width: 100%; }

.span-10-of-11 {
  width: 90.76%; }

.span-9-of-11 {
  width: 81.52%; }

.span-8-of-11 {
  width: 72.29%; }

.span-7-of-11 {
  width: 63.05%; }

.span-6-of-11 {
  width: 53.81%; }

.span-5-of-11 {
  width: 44.58%; }

.span-4-of-11 {
  width: 35.34%; }

.span-3-of-11 {
  width: 26.1%; }

.span-2-of-11 {
  width: 16.87%; }

.span-1-of-11 {
  width: 7.63%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%; }
  .span-10-of-11 {
    width: 100%; }
  .span-9-of-11 {
    width: 100%; }
  .span-8-of-11 {
    width: 100%; }
  .span-7-of-11 {
    width: 100%; }
  .span-6-of-11 {
    width: 100%; }
  .span-5-of-11 {
    width: 100%; }
  .span-4-of-11 {
    width: 100%; }
  .span-3-of-11 {
    width: 100%; }
  .span-2-of-11 {
    width: 100%; }
  .span-1-of-11 {
    width: 100%; } }

/*  GRID OF TWELVE   ============================================================================= */
.span-12-of-12 {
  width: 100%; }

.span-11-of-12 {
  width: 91.53%; }

.span-10-of-12 {
  width: 83.06%; }

.span-9-of-12 {
  width: 74.6%; }

.span-8-of-12 {
  width: 66.13%; }

.span-7-of-12 {
  width: 57.66%; }

.span-6-of-12 {
  width: 49.2%; }

.span-5-of-12 {
  width: 40.73%; }

.span-4-of-12 {
  width: 32.26%; }

.span-3-of-12 {
  width: 23.8%; }

.span-2-of-12 {
  width: 15.33%; }

.span-1-of-12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%; }
  .span-11-of-12 {
    width: 100%; }
  .span-10-of-12 {
    width: 100%; }
  .span-9-of-12 {
    width: 100%; }
  .span-8-of-12 {
    width: 100%; }
  .span-7-of-12 {
    width: 100%; }
  .span-6-of-12 {
    width: 100%; }
  .span-5-of-12 {
    width: 100%; }
  .span-4-of-12 {
    width: 100%; }
  .span-3-of-12 {
    width: 100%; }
  .span-2-of-12 {
    width: 100%; }
  .span-1-of-12 {
    width: 100%; } }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*========== Base =============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body,
html {
  color: #555555;
  font-family: Lato, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden; }

:focus {
  outline: 0; }

.row {
  margin: 0 auto;
  max-width: 1140px; }

section {
  padding: 70px 0; }

/* =========== Headings ================ */
h1,
h2,
h3,
h4 {
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 1px; }

h3 {
  color: #555555;
  font-size: 125%;
  margin-bottom: 40px;
  text-align: center; }
  h3:after {
    margin: 15px auto 0;
    width: 100px;
    background-color: #8E44AD;
    content: "";
    display: block;
    height: 2px; }

h4 {
  font-size: 110%; }

.header-text-box h1 {
  font-size: 250%;
  margin: 0; }

.header-text-box h1,
.header-text-box h2 {
  color: #FFFFFF;
  text-transform: none; }

/* ==================== General ======================= */
.about-me {
  margin: 0 auto 25px;
  width: 85%;
  padding: 1%;
  text-align: justify; }

.about,
.header-text-box,
.my-projects li,
.qualities-icon,
.skills-icon,
.work-together,
.footer p {
  text-align: center; }

.about,
.header,
.section-about-me,
.section-hire-me,
.section-projects {
  position: relative; }

/* ======================  Header ===========================*/
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(171, 71, 180, 0.2)), to(rgba(0, 0, 0, 0.7))), url(../img/bg-min.jpeg);
  background: linear-gradient(to bottom, rgba(171, 71, 180, 0.2), rgba(0, 0, 0, 0.7)), url(../img/bg-min.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  .header-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header-animated {
    width: 15%;
    position: absolute;
    top: -70%;
    left: 42%; }
  .header .logo-white {
    margin-top: 25px;
    width: 160px;
    opacity: 0.9;
    height: 60px;
    float: left; }
  .header .logo-color {
    margin-top: 3px;
    width: 150px;
    opacity: 0.9;
    height: 50px;
    float: left;
    display: none; }

/* =============  Buttons ==============================*/
.btn-inspect:link,
.btn-inspect:visited, .btn-hire:link,
.btn-hire:visited, input[type=submit] {
  border-radius: 5px;
  display: inline-block;
  font-weight: 300;
  margin-top: 50px;
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s; }

.btn-inspect:link,
.btn-inspect:visited, .btn-hire:link,
.btn-hire:visited, input[type=submit] {
  border: 1px solid #8E44AD; }

.btn-inspect:link,
.btn-inspect:visited, input[type=submit] {
  background-color: #8E44AD;
  color: #FFFFFF; }

.btn-hire:link,
.btn-hire:visited {
  color: #8E44AD; }

input[type=submit] {
  cursor: pointer; }

.btn-hire:active,
.btn-hire:hover,
.btn-inspect:active,
.btn-inspect:hover,
input[type=submit]:active,
input[type=submit]:hover {
  border: 1px solid #703688;
  background-color: #703688;
  color: #FFFFFF; }

/* ============= Main navigation ========================*/
.main-nav {
  float: right;
  list-style: none;
  margin-top: 15px; }
  .main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 25px; }
    .main-nav li a:link,
    .main-nav li a:visited {
      border-bottom: 2px solid transparent;
      color: #FFFFFF;
      font-size: 90%;
      padding: 8px 0;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: border-bottom .3s;
      transition: border-bottom .3s; }
    .main-nav li a:active,
    .main-nav li a:hover {
      border-bottom: 2px solid #703688; }

/* ============= Sticky navigation =======================*/
.sticky-nav {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #EFEFEF;
          box-shadow: 0 2px 2px #EFEFEF;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }
  .sticky-nav .main-nav {
    margin-top: 0; }
    .sticky-nav .main-nav li {
      margin: 11px; }
      .sticky-nav .main-nav li a:link,
      .sticky-nav .main-nav li a:visited {
        color: #555555;
        padding: 17px 0; }
  .sticky-nav .logo-white {
    display: none; }
  .sticky-nav .logo-color {
    display: block; }

/* =============  Mobile navigation icon ==================*/
.mobile-nav-icon {
  cursor: pointer;
  display: none;
  float: right;
  margin-top: 5px; }
  .mobile-nav-icon i {
    color: #FFFFFF;
    font-size: 200%; }

/* =============  Section About me ==============================*/
.about-me-animated {
  width: 9%;
  position: absolute;
  top: 13%;
  right: 46%; }

.about {
  margin: 180px auto 0; }
  .about img {
    margin: 0 auto;
    width: 100%;
    border-radius: 3%;
    display: block; }
  .about .skills {
    width: 60%; }
    .about .skills-icon {
      display: block;
      font-size: 350%; }
    .about .skills .ion-social-html5 {
      color: #E44D26; }
    .about .skills .ion-social-css3 {
      color: #1B73BA; }
    .about .skills .ion-social-javascript-outline {
      color: #F7DF1E; }
    .about .skills .ion-social-sass {
      color: #CF649A; }
    .about .skills .ion-social-github {
      color: #333333; }

.qualities {
  margin-top: 150px;
  padding: 1%; }
  .qualities-icon {
    color: #8E44AD;
    display: block;
    font-size: 150%; }
  .qualities p {
    font-size: 90%; }

/* =============  Seaction projects ============================*/
.section-projects {
  background-color: #F4F4F4;
  padding-bottom: 180px; }
  .section-projects .projects-animated {
    width: 4%;
    position: absolute;
    top: 2%;
    left: 37%; }
  .section-projects .my-projects {
    list-style: none;
    width: 100%; }
    .section-projects .my-projects li {
      display: block;
      float: left;
      width: 25%; }
      .section-projects .my-projects li a:link,
      .section-projects .my-projects li a:visited {
        color: #555555;
        text-decoration: none; }
      .section-projects .my-projects li .project,
      .section-projects .my-projects li .project-caption {
        background-color: #000000;
        width: 100%; }
    .section-projects .my-projects .project {
      margin: 0;
      overflow: hidden;
      position: relative; }
      .section-projects .my-projects .project img {
        height: auto;
        opacity: .7;
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
        -webkit-transition: all .5s;
        transition: all .5s;
        width: 100%; }
        .section-projects .my-projects .project img:hover {
          opacity: 1;
          -webkit-transform: scale(1.06);
                  transform: scale(1.06); }
      .section-projects .my-projects .project .project-caption {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #FFFFFF;
        font-weight: 300;
        padding: 15.5px;
        text-transform: uppercase; }
  .section-projects .projects-animated-work {
    width: 8%;
    position: absolute;
    bottom: 3%;
    left: 45.5%; }

/* =============  Section Hire me ==================*/
.section-hire-me {
  width: 100%;
  position: relative;
  height: 850px; }
  .section-hire-me .hire-me-form,
  .section-hire-me p {
    margin: 0 auto;
    width: 90%; }
  .section-hire-me .map {
    width: 100%;
    position: relative;
    height: 850px;
    z-index: 0; }
  .section-hire-me .form-box {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 850px;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 30px;
    z-index: 10; }
    .section-hire-me .form-box .work-together {
      font-weight: 700;
      margin: 0 auto 20px; }
    .section-hire-me .form-box input[type=email],
    .section-hire-me .form-box input[type=text],
    .section-hire-me .form-box select,
    .section-hire-me .form-box textarea {
      border-radius: 3px;
      border: 1px solid #CCCCCC;
      padding: 7px;
      width: 100%; }
    .section-hire-me .form-box textarea {
      height: 100px; }
  .section-hire-me .hire-me-animated {
    width: 15%;
    position: absolute;
    bottom: 8%;
    left: 75%; }

/* =============  Footer ==================*/
.footer {
  background-color: #333333;
  font-size: 80%;
  padding: 5px; }
  .footer p {
    color: #888888;
    margin-top: 10px; }
  .footer-nav li,
  .footer .social-links li {
    display: inline-block;
    margin-right: 20px; }
    .footer-nav li:last-child,
    .footer .social-links li:last-child {
      margin-right: 0; }
    .footer-nav li a:link,
    .footer-nav li a:visited,
    .footer .social-links li a:link,
    .footer .social-links li a:visited {
      border: 0;
      color: #888888;
      text-decoration: none; }
  .footer-nav {
    float: left;
    list-style: none; }
    .footer-nav li a:active,
    .footer-nav li a:hover {
      color: #bbbbbb; }
  .footer .social-links {
    float: right;
    list-style: none; }
    .footer .social-links li a:link,
    .footer .social-links li a:visited {
      font-size: 160%; }
    .footer .social-links .ion-social-linkedin-outline,
    .footer .social-links .ion-social-twitter-outline,
    .footer .social-links .ion-social-facebook-outline,
    .footer .social-links .ion-social-github-outline {
      -webkit-transition: color .3s;
      transition: color .3s; }
    .footer .social-links .ion-social-linkedin-outline:hover {
      color: #007BB5; }
    .footer .social-links .ion-social-twitter-outline:hover {
      color: #55ACEE; }
    .footer .social-links .ion-social-facebook-outline:hover {
      color: #3B5998; }
    .footer .social-links .ion-social-github-outline:hover {
      color: #000000; }

.js-about-me-animated,
.js-header-animated,
.js-heading-fadeIn,
.js-hire-me-animated,
.js-project-caption,
.js-projects-animated,
.js-projects-animated-work {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 0; }

.js-about-me-animated.animated,
.js-header-animated.animated,
.js-heading-fadeIn.animated,
.js-hire-me-animated.animated,
.js-project-caption.animated,
.js-projects-animated-work.animated,
.js-projects-animated.animated {
  opacity: 1; }

/*========== Media-queries =============*/
@media only screen and (max-width: 1200px) {
  .header .header-text-box {
    padding: 0 2%;
    width: 100%; }
  .row {
    padding: 0 2%; }
  .about-me-animated {
    width: 9%; }
  .projects-animated {
    width: 6%; }
  .form-message {
    width: 90%; }
  .hire-me-animated {
    bottom: 7%;
    right: 7%;
    width: 20%; } }

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px; }
  section {
    padding: 35px 0; }
  h3:after {
    margin: 0 auto;
    margin-top: 20px;
    width: 70px;
    height: 1px; }
  .header-animated {
    top: -60%; }
  .about-me-animated {
    right: 44%;
    width: 15%; }
  .about {
    margin-top: 130px; }
    .about img {
      width: 100%; }
  .qualities {
    margin-top: 100px; }
  .projects-animated {
    left: 34%;
    top: 1%;
    width: 7%; }
  .section-projects .projects-animated-work {
    left: 42%;
    width: 18%; }
  .section-hire-me {
    padding-bottom: 20px; }
    .section-hire-me p {
      margin: 30px auto 0; }
    .section-hire-me .hire-me-animated {
      bottom: 3%;
      left: 3%;
      width: 25%; } }

@media only screen and (max-width: 767px) {
  body {
    font-size: 17px; }
  section {
    padding: 20px; }
  .header-text-box,
  .row {
    padding: 0 4%; }
  .col {
    width: 100%; }
  h2 {
    font-size: 140%; }
  h3 {
    font-size: 130%; }
  h4 {
    font-size: 100%; }
  nav {
    background-color: #8E44AD; }
    nav .main-nav {
      display: none;
      float: left; }
      nav .main-nav li {
        margin: 10px; }
        nav .main-nav li a:link,
        nav .main-nav li a:visited {
          border: none;
          font-size: 100%;
          padding: 5px 0; }
  .mobile-nav-icon {
    display: inline-block; }
  .sticky-nav .main-nav li {
    display: block; }
    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited {
      padding: 5px 0;
      display: block; }
  .sticky-nav .mobile-nav-icon i {
    color: #8E44AD;
    margin-top: 0; }
  .header {
    background-size: auto; }
    .header .logo-white {
      margin-top: 5px; }
    .header .logo-color {
      margin-top: 10px; }
    .header-animated {
      display: none; }
    .header-text-box h1 {
      font-size: 200%; }
  .about-me-animated {
    top: 6%; }
  .about {
    margin-top: 100px; }
    .about img {
      width: 60%; }
    .about-me {
      margin: 0 auto;
      margin-top: 40px;
      width: 90%;
      text-align: initial; }
    .about .skills {
      width: 100%; }
      .about .skills-icon {
        font-size: 250%; }
      .about .skills div {
        float: left;
        width: 18%; }
  .qualities {
    margin: 0 auto;
    margin-top: 80px;
    width: 48%;
    float: left;
    text-align: center; }
  .section-projects .projects-animated {
    top: 0; }
  .my-projects li {
    width: 50%; }
  .section-hire-me {
    height: auto; }
    .section-hire-me .form-box,
    .section-hire-me .map {
      width: 100%;
      position: relative; }
    .section-hire-me .map {
      height: 300px;
      z-index: 0; }
    .section-hire-me .form-box {
      height: auto;
      margin-bottom: 20px;
      padding-top: 30px; }
    .section-hire-me .hire-me-animated {
      bottom: 1%;
      left: 60%;
      width: 15%; }
  .footer .footer-nav,
  .footer .social-links {
    float: none;
    text-align: center; } }

@media only screen and (max-width: 480px) {
  section {
    padding: 15px 0; }
  .header .header-text-box h1 {
    font-size: 140%; }
  h2 {
    font-size: 130%; }
  h3 {
    font-size: 110%; }
    h3:after {
      margin: 0 auto;
      margin-top: 10px;
      width: 70px;
      height: 1px; }
  h4 {
    font-size: 95%; }
  .header .logo-white {
    margin: 0 auto;
    margin-top: 5px;
    width: 130px; }
  .main-nav {
    margin-top: 5px;
    margin-left: 0; }
    .main-nav li {
      margin-left: 3px;
      margin-top: 20px;
      display: block; }
      .main-nav li a:link,
      .main-nav li a:visited {
        display: block; }
  .sticky-nav .main-nav {
    margin-left: 0; }
  .header-text-box {
    margin-top: 15px; }
  .section-projects {
    padding-bottom: 85px; }
    .section-projects .my-projects li {
      width: 100%; }
    .section-projects .projects-animated {
      left: 25%;
      width: 9%; }
    .section-projects .projects-animated-work {
      bottom: 0; }
  .section-hire-me p {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%; }
  .hire-me-form {
    width: 100%; }
  .section-hire-me .hire-me-animated {
    bottom: 0;
    width: 30%; } }

/*# sourceMappingURL=main.css.map */
