/*========== Base =============*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: $main-color;
    font-family: $font-main;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;

	&:after {
	    clear: both;
	    content: '.';
	    display: block;
	    height: 0;
	    visibility: hidden;
	}

}

:focus {
    outline: 0;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 70px 0;
}
