@mixin position($width, $position, $top: null, $right: null, $bottom: null, $left: null, $height: null) {
	width: $width;
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	height: $height;
}



@mixin margin_width($margin:0 auto, $width:100%) {
	margin: $margin;
	width: $width;
}

@mixin logo($marginTop, $width, $opacity:null, $height:null, $float:null) {
	margin-top: $marginTop;
	width: $width;
	opacity: $opacity;
	height: $height;
	float: $float;
}

@mixin marginT_width($marginTop, $width) {
	margin-top: $marginTop;
	width: $width;
}



